<script setup>
/* eslint-disable */
import { ref, onMounted } from 'vue';
import { updateDoc, getDoc,  doc } from "firebase/firestore"
import { onAuthStateChanged } from "firebase/auth";

const num = ref({current: 0, next: 0})
onMounted(()=>{
  // onAuthStateChanged(auth, (user) => {
  //   if (user) {
      getData()
  //   }else{
  //     localStorage.removeItem('user_num')
  //     router.push({name: 'register'})
  //   }
  // });
})

const getData = async ()=>{
  const options = await getDoc(doc(db, 'options', 'general'))
  const current_num = options.data().current_num;
  // check if next number exist
  const user_next = await getDoc(doc(db, 'users', (current_num+1).toString()))
  console.log("🚀 ~ file: GenerateQRView.vue:25 ~ getData ~ user_next:", user_next.data())
  if (user_next.data()){
    num.value = {current: current_num, next: current_num+1}
  }else{
    num.value = {current: current_num, next: "No Customer"}
    let button = document.getElementById("next")
    button.setAttribute("disabled", true);
  }
}

const nextCust = async ()=>{
  const res = await updateDoc(doc(db, 'options', 'general'),{
    current_num: num.value.next
  })
  alert('Updated')
  getData()
}
</script>

<template>
  <div class="h-[50vh] p-8">
    <h1 class="text-2xl font-bold text-center">Welcome to Admin</h1>
    <div class="flex flex-wrap">
      <div class="w-3/4 rounded-lg border border-zinc-400 p-4 mx-auto mt-4 h-[50vh]">
        <div class="flex p-5">
          <div class="basis-1/2 border-r border-zinc-400">
            <p class="font-semibold tracking-wide text-lg">Current Number</p>
            <p>{{num.current}}</p>
          </div>
          <div class="basis-1/2">
            <p class="font-semibold tracking-wide text-lg">Next Number</p>
            <p>{{num.next}}</p>
          </div>
        </div>
        <div>
          <button id="next" @click="nextCust()" class="disabled:bg-green-400 bg-green-500 text-white py-2 px-4 rounded-lg font-semibold">Next Customer</button>
        </div>
      </div>
    </div>
  </div>
</template>