<script setup>
/* eslint-disable */
import { ref, onMounted } from 'vue';
import { getDoc,  doc } from "firebase/firestore"
import { onAuthStateChanged } from "firebase/auth";
import { useRouter } from 'vue-router';

const router = useRouter()
const num = ref({current: 0, user: 1})
const notify = ()=>{
  alert(`You have ${num.value.user - num.value.current} more people`)
}

onMounted(()=>{
  onAuthStateChanged(auth, (user) => {
    if (user) {
      getData()
    }else{
      localStorage.removeItem('user_num')
      router.push({name: 'register'})
    }
  });
})

const getData = async ()=>{
  const options = await getDoc(doc(db, 'options', 'general'))
  const current_num = options.data().current_num;
  const user_num = localStorage.getItem('user_num')
  num.value = {current: current_num, user: user_num}
}
</script>

<template>
  <div class="h-[50vh] p-8">
    <div class="flex flex-wrap">
      <div class="basis-1/2 p-1">
        <div class="h-full border border-zinc-400 rounded-lg p-4">
          <h1 class="text-2xl font-bold">Your Number</h1>
          <p class="text-4xl">{{num.user}}</p>
        </div>
      </div>
      <div class="basis-1/2 p-1">
        <div class="h-full border border-zinc-400 rounded-lg p-4">
          <h1 class="text-2xl font-bold">Current Number</h1>
          <p class="text-4xl">{{num.current}}</p>
        </div>
      </div>
    </div>
    <div class="flex mt-3">
      <button @click="notify()" class="m-auto bg-rose-500 text-white px-4 py-2 rounded-lg">Notify Me</button>
    </div>
  </div>
</template>