<script setup>
import { ref, onBeforeMount } from 'vue';
import VueQrious from 'vue-qrious';

const dataUrl = ref('')

onBeforeMount(()=>{
  dataUrl.value = "https://queuing-qr.vercel.app"
})

</script>


<template>
  <div class="h-[50vh] p-8">
    <div class="flex text-center">
      <vue-qrious
        :value=dataUrl
        class="w-[300px] mx-auto"
      />
    </div>
  </div>
</template>