<script setup>
/* eslint-disable */
import { ref, onMounted } from 'vue';
import { signInAnonymously, onAuthStateChanged } from "firebase/auth";
import { getDoc, setDoc, doc } from "firebase/firestore"
import { useRouter } from 'vue-router';

const router = useRouter()
const data = ref({})
// check user sign in or not
onMounted(()=>{
  onAuthStateChanged(auth, (user) => {
    if (user) {
      const uid = user.uid;
      router.push({name: 'home'})
    }
  });
})

const register = ()=>{
  signInAnonymously(auth)
    .then(() => {
      addCollection()
    })
    .catch((error) => {
      const errorCode = error.code;
      const errorMessage = error.message;
      console.log("🚀 ~ file: RegisterView.vue:14 ~ register ~ errorCode:", errorCode)
      console.log("🚀 ~ file: RegisterView.vue:16 ~ register ~ errorMessage:", errorMessage)
    });
}

const addCollection = async ()=>{
  // get current number
  const options = await getDoc(doc(db, 'options', 'general'))
  const current_num = options.data().current_num;
  const next_num = current_num+1
  await setDoc(doc(db, 'users', next_num.toString()), {
    name: data.value.name,
    phone: data.value.phone,
    age: data.value.age,
  })
  localStorage.setItem('user_num', next_num.toString())
  router.push({name: 'home'})
}
</script>

<template>
  <div class="h-[50vh] p-8">
    <div class="flex flex-wrap">
      <div class="h-full w-4/5 border border-zinc-400 rounded-lg p-4 text-left mx-auto">
        <h1 class="text-2xl font-bold text-center">Welcome to Queing System</h1>
        <form @submit.prevent="register">
          <div class="w-2/5 mx-auto">
            <div class="mt-4">
              <label for="username" class="block text-sm font-medium leading-6 text-gray-900">
                Name
              </label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <input 
                    type="text" 
                    name="name" 
                    class="block flex-1 border-0 bg-transparent py-1.5 pl-2 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" 
                    placeholder="Abu bin Ali"
                    v-model="data.name"
                    required
                  >
                </div>
              </div>
            </div>
            <div class="mt-4">
              <label for="age" class="block text-sm font-medium leading-6 text-gray-900">
                Age
              </label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <input 
                    type="number" 
                    name="age" 
                    class="block flex-1 border-0 bg-transparent py-1.5 pl-2 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" 
                    placeholder="18"
                    v-model="data.age"
                    required
                  >
                </div>
              </div>
            </div>
            <div class="mt-4">
              <label for="phone_number" class="block text-sm font-medium leading-6 text-gray-900">
                Phone Number
              </label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <input 
                    type="text" 
                    name="phone_number" 
                    class="block flex-1 border-0 bg-transparent py-1.5 pl-2 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" 
                    placeholder="012-345678"
                    v-model="data.phone"
                    required
                  >
                </div>
              </div>
            </div>
            <div class="mt-4 text-right">
              <button type="submit" class="py-2 px-4 text-white bg-green-500 rounded-lg font-semibold tracking-wide">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>